.box{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    
    border: solid 1px #000;

    H2{display: block;
        
        margin-top: 20px;
    }

    P{display: block;
       
        margin-top: 40px;

    }

    input{
        display: block;
        margin: 0 auto;
        margin-top: 150px;
    }
    button{
        margin-top: 10px;
    }

    a{ display: block;
        position: absolute;
        top: 450px;
        left: 450px;
    }
}